.features {
    width: 85%;
    margin: 4rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.feature-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: .5s ease-in-out;
}

.feature-card h3 {
    color: #2563eb;
    margin: 0 0 1rem;
}

.feature-card:hover{
    box-shadow: -.01em 0 .5em #2563eb, .01em 0 .1em #2563eb;
    transform: translateY(-.5em);
}





.cards-section {
    width: 85%;
    margin: 2rem auto;
    padding: 0 1rem;
}

.section-tit{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #1e3a8a;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.cards-container {
    perspective: 1000px;
    height: 260px;
    transition: transform .5s ease-in-out;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cards-container.flipped .card {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.back {
    transform: rotateY(180deg);
    background: #f8fafc;
    transition: .5s ease-in-out;
}

.back:hover{
    box-shadow: -.01em 0 .5em #2563eb, .01em 0 .1em #2563eb;
}

.front .word-header {
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.word-header-wrap{
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.word-header-wrap:last-child{
    border: unset;
    padding: unset;
    margin: unset;
}

.word-tit {
    color: #2563eb;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tts-btn{
    all: unset;
    display: flex;
    cursor: pointer;
}

.vol-img{
    width: 22px;
    height: 22px;
}

.word-main{
    display: flex;
    flex-direction: column-reverse;
}

.synonyms {
    font-size: 0.8rem;
    color: #6b7280;
}

.word-pos {
    color: #6b7280;
    font-size: .8rem;
    font-style: italic;
}

.tag {
    display: inline-block;
    background: #eff6ff;
    color: #2563eb;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.word-info {
    font-size: 1.1rem;
    color: #2563eb;
}

.meaning-count{
    color: rgb(0, 0, 0);
}

.point-section{
    padding: 1rem 0 0;
    margin: 1rem 0 0;
    border-top: 1px solid #e5e7eb;
}

.point-tit{
    display: flex;
    justify-content: center;
    margin: .5rem 0 .2rem;
}

.example {
    color: #6b7280;
    font-style: italic;
    font-size: .9rem;
    border-top: 2px dashed #e5e7eb;
    padding-top: .5rem;
    margin-top: .5rem;
}

.cards-container:hover {
    transform: translateY(-1em);
}





.cta-section {
    background-color: #eff6ff;
    padding: 4rem 1rem;
    text-align: center;
}

.cta-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta-section p {
    color: #4b5563;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #2563eb;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #1e40af;
}



@media (max-width: 768px) {
    .feature-card{
        padding: 1rem;
        text-align: center;
    }
    .cards-container{
        height: 230px;
    }
    .word-tit, .word-info{
        font-size: 1.3rem;
    }
    .word-pos, .example, .cta-section p, .cta-button{
        font-size: .8rem;
    }
    .tag{
        font-size: .7rem;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .cta-section h2, .section-tit{
        font-size: 1.5rem;
    }
}