{% extends 'index.html' %}

{% block title %}
    Day-{{ d_num }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/days.css') }}">
{% endblock %}

{% block main %}
    <section class="cards-section">
        <h2 class="section-tit">Day {{ d_num }}</h2>
        <div class="cards-grid">
            {% for word in words %}
                <div class="cards-container">
                    <div class="card">
                        <div class="front">
                            <div class="word-header">
                                <h3 class="word-tit">{{ word.word }}</h3>
                                {% for derivative in word.derivatives %}
                                    <p class="synonyms">
                                        <span class="word-pos">{{ derivative.pos.pos }}</span> {{ derivative.word }}
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="word-main">
                                
                            </div>
                        </div>
                        <div class="back">
                            <div class="word-header">
                                {% for info in word.details %}
                                    <div class="word-header-wrap">
                                        <h3 class="word-info">
                                            {% if loop.length > 1 %}
                                                <span class="meaning-count">{{ loop.index }}.</span> {{ info.meaning }}
                                            {% else %}
                                                {{ info.meaning }}
                                            {% endif %}
                                        </h3>
                                        <p class="synonyms"><span class="word-pos">{{ info.pos.pos }}</span> {{ info.synonyms }}</p>
                                        <p class="example">{{ info.example | default('', true) | replace('\n', '<br>') | safe }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="word-section">
                                {% if word.note %}
                                    <div class="point-section">
                                        <div class="point-tit"><span class="tag">Point!</span></div>
                                        <p class="word-pos">{{ word.note | default('', true) | replace('\n', '<br>') | safe }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}