{% extends 'index.html' %}

{% block title %}
    Vocabulary
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vocab.css') }}">
{% endblock %}


{% block main %}
    <main>
        <section class="cta-section">
            <h2 class="section-tit">My Vocabulary</h2>
            <p>나만의 단어장도 만들어보세요!</p>
            <a href="{{ url_for('views.my_vocab') }}" class="cta-button">내 단어장</a>
        </section>
        <section class="cards-section">
            <h2 class="section-tit">English Word Cards</h2>
            <div class="days-container">
                {% for day in days %}
                    <a class="days" href="{{ url_for('views.day', d_num=day + 1) }}">Day{{ day + 1 }}</a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}



{% block footer %}
    {% include 'footer.html' %}
{% endblock %}